<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home Page</title>
  <link rel="stylesheet" type="text/css" href="../static/css/home.css">
</head>
<body>
  <!-- logged in user nav bar here -->
  <main>
    <section>
      <h2>Top 25 Recipes</h2>
      <div class="recipe-carousel">
        <img src="../static/media/recipe1.jpg" alt="rice bowl">  <!-- will eventually change to dynamically updated images that link to recipes -->
        <img src="../static/media/recipe2.jpg" alt="noodles">
        <img src="../static/media/recipe3.jpg" alt="spaghetti and meatballs">
        <img src="../static/media/recipe1.jpg" alt="rice bowl">
        <img src="../static/media/recipe2.jpg" alt="noodles">
        <img src="../static/media/recipe3.jpg" alt="spaghetti and meatballs">
      </div>
    </section>
    <section>
      <h2>Friend Activity</h2>
      <div class="recipe-carousel">
        <img src="../static/media/recipe1.jpg" alt="rice bowl">
        <img src="../static/media/recipe2.jpg" alt="noodles">
        <img src="../static/media/recipe3.jpg" alt="spaghetti and meatballs">
        <img src="../static/media/recipe1.jpg" alt="rice bowl">
        <img src="../static/media/recipe2.jpg" alt="noodles">
        <img src="../static/media/recipe3.jpg" alt="spaghetti and meatballs">
      </div>
    </section>
  </main>
  <!-- footer here -->

</body>
</html>