<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="/static/css/profile.css" />
</head>
<body>
    <main class = "profile-page">
        <section class = "left-content">
            <div class = "profile-card">
                <div class="profile-upload">
                  <label class="default-pfp" for="profile-pic">
                    <img id="profile-preview" src="/static/media/profileimages/default-pfp.svg" alt="Profile picture"/>
                  </label>
                  <input type="file" id="profile-pic" accept="image/*">
                </div>

                <div class = "profile-info">
                    <h1 class = "username">{{ user.username }}</h1>
                    <div class = "stats">
                        <div class = "stat">
                            <span class = "stat-number">{{ follower_count }}</span>
                            <span class = "stat-label"> followers </span>
                        </div>
                        <div class = "stat">
                            <span class = "stat-number">{{ following_count }}</span>
                            <span class = "stat-label"> following </span>
                        </div>
                    </div>
                    {% if current_user_id != user.user_id %}
                        {% if following_status %}
                            <form action = "{{ url_for('unfollow_user', user_id = user.user_id) }}" method = "POST">
                                <button type="submit" class="follow-btn following"> Following </button>
                            </form>
                        {% else %}
                            <form action = "{{ url_for('follow_user', user_id = user.user_id) }}" method = "POST">
                                <button type="submit" class="follow-btn"> Follow </button>
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <section class="content-section">
                <div class="bio-section">
                    <p id="bio">This is my bio. I love recipes!</p>
                    <button id="edit-profile-button">Edit Profile</button>
                </div>
                <div id="backdrop"></div> <!-- signify to user no background interaction is allowed while popup is displayed-->
                <div class="edit-popup-card" id="edit-overlay">
                  <p class="popup-title">Edit bio:</p>
                  <textarea id="bio-text" name="profile bio" maxlength="300"></textarea>
                  <p class="popup-text">Max chars: 300</p>
                  <button id="save-profile-button">Save</button>
                </div>
            </section>

            <section class = "content-section">
                <div class = "section-header">
                    <h2> Favorites </h2>
                    <div class = "section-line"></div>
                </div>
                <div class = "card-row">
                    <img src="https://placehold.co/220x300" alt="Favorite 1" class="post-card" />
                    <img src="https://placehold.co/220x300" alt="Favorite 2" class="post-card" />
                    <img src="https://placehold.co/220x300" alt="Favorite 3" class="post-card" />
                    <img src="https://placehold.co/220x300" alt="Favorite 4" class="post-card" />
                </div>
            </section>

            <section class = "content-section">
                <div class = "section-header">
                    <h2> Recently </h2>
                    <div class = "section-line"></div>
                </div>
                <div class = "card-row">
                    <img src="https://placehold.co/220x300" alt="Recent 1" class="post-card" />
                    <img src="https://placehold.co/220x300" alt="Recent 2" class="post-card" />
                    <img src="https://placehold.co/220x300" alt="Recent 3" class="post-card" />
                    <img src="https://placehold.co/220x300" alt="Recent 4" class="post-card" />
                </div>
            </section>
        </section>

        <aside class = "right-content">
            <div class="featured-box">
                <img
                src="https://placehold.co/360x420"
                alt="Featured post"
                class="featured-image"
                />
            </div>
        </aside>
    </main>
    <script src="/static/js/profile.js"></script>
</body>
</html>